.stage-point{
  position:absolute;
  margin-top:-10px;
  z-index:1;
  height:40px;
  width:40px;
  border-radius:25px;
  font-size: 2em;
  color: #5bc0de;
  padding: 4px;
  -o-transition: all .5s; -moz-transition: all .5s; -webkit-transition: all .5s; -ms-transition: all .5s; transition: all .5s;
}

.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

.spin-loading{
	color:#4989bd;
	font-size: 4em;
}
