<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adkintun Web Monitor</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form-elements.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stagesStyle.css') }}">

    <!-- TODO: Favicon and touch icons -->
    <!--
      <link rel="shortcut icon" href="ico/favicon.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
      -->


      <!-- Javascript -->
      <!-- Estilo -->
      <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
      <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/retina-1.1.0.min.js') }}"></script>
      <!-- Locales -->
      <!--
      <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    -->

      {% block customJS %}{% endblock %}

  </head>

  <body>
    <!-- Top menu -->
    <nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Index</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <span class="li-text">
              Un proyecto de
              </span>
              <a href="http://www.niclabs.cl"><strong>NIC Chile Research Labs</strong></a>
              <span class="li-text">
              , contacto en
              </span>
              <span class="li-social">
              <a href="https://www.facebook.com/NIC-Chile-Research-Labs-259740740713755/" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/niclabscl" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="mailto:webmonitor@niclabs.cl" target="_blank"><i class="fa fa-envelope"></i></a>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Top content -->
    <div class="top-content">
      <div class="inner-bg">
        <div class="container">

          <!-- Encabezado de título -->
          <div class="row">
            <div class="col-sm-9 col-sm-offset-2 text">
              <h1><strong>Adkintun web monitor</strong> Analizador de conectividad</h1>
              <div class="description">
                <p>
                  Parte del proyecto <a href="#"><strong>Adkintun</strong></a> para la caracterización de la calidad del Internet chileno.
                </p>
              </div>
            </div>
          </div>

          {% block body %}{% endblock %}

        </div>
      </div>
    </div>

  </body>
</html>
