{% extends "index.html" %}
{% block body %}

<!-- Barra de progreso prueba general -->
<div class="row">
  <br>
  <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
    <div class="progress">
      {% for step in testDetails.test_steps[1:] %}
        <!--<div class="stage-point-{{ loop.index0 }} stage-point no-color col-md-offset-1 col-xs-offset-1" style="right:{{ 100 * (1 - loop.index/loop.length) }}%;"></div>-->
        <div class="stage-point no-color col-md-offset-1 col-xs-offset-1" style="right:{{ 100 * (1 - loop.index/loop.length) }}%;"></div>
      {% endfor %}
      <div id="general-test-progress-bar" class="progress-bar" style="width: 0%;"></div>
    </div>
  </div>
</div>

<!-- Pasos de la prueba -->
<div class="row">
  <div class="col-sm-6 col-sm-offset-3 form-box">
    <form role="form" action="" method="post" class="registration-form">
      {% for step in testDetails.test_steps %}
        {% include step %}
        <p style="display:none">{{ loop.index }}</p>
      {% endfor %}

      <input type="hidden" value="0" id="step_counter" >
    </form>
  </div>
</div>

{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='NetworkInformation-Library/StaticInformation.js') }}"></script>
<script src="{{ url_for('static', filename='NetworkInformation-Library/NetworkUtilities.js') }}"></script>
<script src="{{ url_for('static', filename='NetworkInformation-Library/NetworkInformation.js') }}"></script>
<script src="{{ url_for('static', filename='NetworkInformation-Library/SpeedTest.js') }}"></script>
<script src="{{ url_for('static', filename='NetworkInformation-Library/Heimdal.js') }}"></script>
<script src="{{ url_for('static', filename='NetworkInformation-Library/ExternalJavascript/detectSpeed.js') }}"></script>

<script type="text/javascript">

jQuery(document).ready(function() {

    // Fullscreen background
    $.backstretch("static/img/backgrounds/1.jpg");
    $('#top-navbar-1').on('shown.bs.collapse', function(){
    	$.backstretch("resize");
    });
    $('#top-navbar-1').on('hidden.bs.collapse', function(){
    	$.backstretch("resize");
    });

    // Form
    $('.registration-form fieldset:first-child').fadeIn('slow');

    // next step
    $('.registration-form .btn-next').on('click', function() {
      funStep0();
    });

    $("input[type=hidden]").bind("change", function() {
        // la idea en cada case es hacer cosas, y llamar de callback a forwardDialog()
        switch(parseInt($(this).val())){
            case 1:
                funStep1();
                break;
            case 2:
                funStep2();
                break;
            case 3:
                funStep3();
                break;
            case 4:
                funStep4();
                break;
            default:
                location.reload();
                break;
       }
    });

});

function goForward(){
  var currentFieldset;

  currentFieldset = $('fieldset').get(getCurrentStep());
  $(currentFieldset).fadeOut(400, function(){
      $('#step_counter').val(parseInt(getCurrentStep()) + 1).triggerHandler('change');

      currentFieldset = $('fieldset').get(getCurrentStep());
      $(currentFieldset).fadeIn();

      updateTestProgressBar();
  });
}

function getCurrentStep(){
    return $('#step_counter')[0].value;
}

function getTotalSteps(){
  return $('.stage-point').size();
}

function updateTestProgressBar(){
  // Update width of general bar
  var generalProgressBar = $('#general-test-progress-bar');
  generalProgressBar.css('width', String(parseInt(100*getCurrentStep()/getTotalSteps()))+"%");
  // color stage
  $('.stage-point').each(function(index, domValue){
    if (index < getCurrentStep()) {
      if(domValue.classList.contains("no-color")){
          domValue.classList.remove("no-color");
          domValue.classList.add("primary-color");
          var tick = $('<i class="fa fa-check"></i>');
          $(domValue).append(tick);
      }
    }else{
      if(domValue.classList.contains("primary-color")){
          domValue.classList.remove("primary-color");
          domValue.classList.add("no-color");
          $(domValue).children().remove();
      }
    }
  });
}

var heimdal = new Heimdal('http://127.0.0.1:5000/echo');
</script>
{% endblock %}
